<p id="notice"><%= notice %></p>

<p>
  <b>Imagetype:</b>
  <%= @image.imageType %>
</p>

<p>
  <b>Path:</b>
  <%= @image.path %>
</p>
<p>
  <b>Image:</b>
  <%= image_tag(@image.path, id: "img") %>
</p>

<%= link_to 'Edit', edit_image_path(@image) %> |
<%= link_to 'Back', images_path %>
